.venv/
venv/

.mypy_cache/
db/
capi_logs/
cp_root/
crs_scratch/
darpa/
dind_cache/
compose.yaml
analyzer_agent.md
lsp.log

# https://github.com/GoogleCloudPlatform/getting-started-python/blob/main/optional-kubernetes-engine/.dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
