name: test

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:

jobs:

  pre-commit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-python@v6
      with:
        python-version: "3.10"
    - uses: pre-commit/action@v3.0.1

  unittest:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Start Dind
      run: |
        docker compose up -d dind
    - name: Build image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: false
        tags: our_test_image:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
        load: true
    - name: Execute unit tests
      run: |
        docker compose run crs-tests bash -c "python3 -m pytest --tb=native --cov=crs --cov=crscommon"
  pylint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
    strategy:
      fail-fast: false
      matrix:
        # we could test against multiple python versions here
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
    - name: Lint with pylint
      run: |
        pylint crs/ crscommon/ eval/ oss_fuzz_integration/ test/

  mypy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write
    strategy:
      fail-fast: false
      matrix:
        # we could test against multiple python versions here
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
    - name: Install dependencies for via apt
      run: |
        sudo apt-get update
        sudo apt-get install -y bear clangd
    - name: Execute mypy
      run: |
        mypy crs/ crscommon/ eval/ oss_fuzz_integration/ test/
